<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>rpi controller</title>
        <script src="/node_modules/jquery/dist/jquery.min.js"></script>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css" />

        <link rel="stylesheet" href="view/css/index.css" />
        <script src="view/js/index.js"></script>
    </head>

    <body>
        <div class="container-fluid">
            <div class="card mt-3">
                <div class="card-body">
                    <div class="row direct_ctl">
                        <div class="col px-1">
                            <button type="button" class="btn btn-block btn-secondary" id="pump" onclick="direct_ctl('pump');">水泵开关</button>
                        </div>
                        <div class="col pl-0 pr-1">
                            <button type="button" class="btn btn-block btn-secondary" id="irrigate" onclick="direct_ctl('irrigate');">滴灌开关</button>
                        </div>                                        
                    </div>
                    <div class="row input_status mt-2">
                        <div class="col px-1">
                            <div class="alert alert-warning mb-0" role="alert" id="waterfull">&nbsp;</div>
                        </div>
                        <div class="col pl-0 pr-1">
                            <div class="alert alert-warning mb-0" role="alert" id="soilwet">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script>
$(document).ready(() => {
    window.setInterval(query_status, 2000);
});
</script>