<html>
<head>
    <title>rpi controller</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-4 border rounded m-2">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="gpio1" onclick="gpio_check(1);">
                    <label class="custom-control-label" for="gpio1">GPIO x</label>
                </div>
            </div>
            <div class="col mr-2 mt-2">
                <%=name%>
            </div>
        </div>
    </div>
</body>
</html>
<script>
function gpio_check(gpiox)
{
    let val = $("#gpio1").is(':checked') ? 1 : 0;
    console.log(gpiox, val);
    $.get("/gpio/"+gpiox+"?set="+val, (res) => {
        console.log(res);
    });
}

$(document).ready(() => {

});
</script>